{% extends 'bars.html.twig' %}


{% block contentpage %}
<div class="">
    <div class="page-title">
        <div class="title_left"></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Listes des patients
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="{{path('app_user_new')}}" class="btn btn-success">Nouveau docteur</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">

                        <table id="example" class="display table table-striped table-bordered dataminetables">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    {# <th>Password</th> #}
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.nom }}</td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        {# {{ user.roles ? user.roles|json_encode : '' }} #}
                                        {% for role in user.roles %}
                                            {% if role == "ROLE_USER" %}
                                               <li> Docteur </li>                                           
                                            {% elseif role == "ROLE_ADMIN" %}
                                               <li> Administrateur </li>
                                            {% endif %}
                                        {% endfor %}
                                    
                                    </td>
                                    {# <td>{{ user.password }}</td> #}
                                    <td>
                                        <a href="{{ path('app_user_show', {'id': user.id}) }}"class="btn btn-success"><i class="fa fa-eye"></i></a>
                                        <a href="{{ path('app_user_edit', {'id': user.id}) }}"class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="5">Aucun enregistrement trouvé</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
